@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Sancreek&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.sancreek{
    font-family: "Sancreek", serif;
    font-weight: 400;
    font-style: normal;
  }
  